﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

.droite {
    float:right;
}

.gauche {
    float:left;
}

.centrebas{
    text-align:center;
    display:block;
}

.item {
    height: 300px;
    width: 300px;
    display: inline-block;
    margin: 5px;
}

.saisie{
    width:100%;
    border:1px solid lightgrey;
    padding:0px;
    margin:0px;
}

.nombre{
    text-align:right;
}