﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Ceci est un projet open source initié par des épiceries pour personnes à faible revenus, dans la foulée de la crise de la covid-19.
    Ce projet a pour but d'organiser les commandes en ligne et aider à la préparation des paniers afin que respecter les règles de distanciation sociales.</p>
