﻿@{
    ViewData["Title"] = "Administration";
    ViewData["etiquette"] = 120;
    ViewData["champs"] = 150;
}
    <div>
        <span style="display:block">
            <span style="width:@ViewData["etiquette"]px;display:inline-block">Nom de l'entreprise</span>
            <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtNom" /></span>
        </span>
        <span style="display:block">
            <span style="width:@ViewData["etiquette"]px;display:inline-block">Adresse</span>
            <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtAdresse" /></span>
        </span>
        <span style="display:block">
            <span style="width:@ViewData["etiquette"]px;display:inline-block">Ville</span>
            <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtVille" /></span>
        </span>
        <span style="display:block">
            <span style="width:@ViewData["etiquette"]px;display:inline-block">Courriel</span>
            <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtCourriel" /></span>
        </span>
    </div>
