﻿@{
    ViewData["Title"] = "Raisin rouge sans pépin";
}
<p />
<div>
    <span style="background-color:lightgray;display:inline-block;width:200px;height:200px"></span>
    <div style="display:inline-block;vertical-align:top">
        <h1>Raisin rouge sans pépin</h1>
        <div>Ceci est une description pour les articles qui en méritent une</div>
        <div>
            <span style="display:block">
                <span style="display:inline-block;width:35px">270g</span>
                <span style="width:50px;display:inline-block"><input type="number" class="saisie nombre" value="1" /></span>
                <span style="display:inline-block;width:50px" class="droite">2.97</span>
            </span>
            <span style="display:block">
                <span style="display:inline-block;">320g</span>
                <span style="width:50px;display:inline-block"><input type="number" class="saisie nombre" /></span>
                <span style="display:inline-block;width:50px" class="droite">3.52</span>
            </span>
        </div>
        <div><button>Ajouter au panier</button></div>
        <div>
            <span style="display:inline-block;width:50px">Total</span>
            <span style="display:inline-block;width:50px" class="droite">2.97</span>
        </div>
    </div>
</div>