﻿@{
    ViewData["Title"] = "Mon compte";
    ViewData["etiquette"] = 120;
    ViewData["champs"] = 150;
}
<div>
    <span style="display:block;height:40px"></span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Nom</span>
        <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtNom" /></span>
    </span>
    <span style="display: block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Prenom</span>
        <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtPrenom" /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Téléphone</span>
        <span style="width:@ViewData["champs"]px;display: inline-block"><input type="tel" class="saisie" name="txtTelephone" pattern="^[2-9][0-9]{2}-[2-9][0-9]{2}-[0-9]{4}$" /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Courriel</span>
        <span style="width:@ViewData["champs"]px;display:inline-block"><input type="email" class="saisie" name="txtCourriel" /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Numéro civique</span>
        <span style="width:50px; display: inline-block"><input type="text" class="saisie" name="txtPorte" /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Rue</span>
        <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtRue" /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Appartement</span>
        <span style="width:50px;display:inline-block"><input type="text" class="saisie" name="txtAppartement" /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Ville</span>
        <span style="width:@ViewData["champs"]px;display:inline-block"><input type="text" class="saisie" name="txtPorte" /></span>
    </span>
    <span>Laisser vide pour ne pas réinitialiser le mot de passe</span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Mot de passe</span>
        <span style="width:@ViewData["champs"]px;display:inline-block"><input type="password" class="saisie" name="txtPasswd" /></span>
        <span style="display:inline-block"><img /></span>
    </span>
    <span style="display:block">
        <span style="width:@ViewData["etiquette"]px;display:inline-block">Confirmation</span>
        <span style="width:@ViewData["champs"]px;display: inline-block"><input type="password" class="saisie" name="txtPasswd2" /></span>
        <span style="display:inline-block"><img /></span>
    </span>
    <span style="display:block"><button>Enregistrer</button></span>
</div>