﻿@{
    ViewData["Title"] = "Historique";
}
<div>
    <span style="display:block">Vue du client</span>
    <span style="display:block">
        <span style="width:80px;display:inline-block">Statut</span>
        <span style="width:80px;display:inline-block">Date de transaction</span>
        <span style="width:50px;display:inline-block">Montant</span>
    </span>
    <span style="display:block">
        <span style="width:80px;display:inline-block">Complet</span>
        <span style="width:80px;display:inline-block">2020-04-27</span>
        <span style="width:50px;display:inline-block">20.52</span>
    </span>
    <span style="display:block">
        <span style="width:80px;display:inline-block">Livré</span>
        <span style="width:80px;display:inline-block">2020-04-20</span>
        <span style="width:50px;display:inline-block">25.34</span>
    </span>
</div>
<p></p>
<div>
    <span style="display:block">
        <span>Vue d'un employé</span>
        <span>
            <select>
                <option value="0">Tout</option>
                <option value="1">En création</option>
                <option value="2">En attente</option>
                <option value="3">En préparation</option>
                <option value="4">Complet</option>
                <option value="5">Livraison</option>
                <option value="6">Livré</option>
            </select>
        </span>
    </span>
    <span style="display:block">
        <span style="width:150px;display:inline-block">Utilisateur</span>
        <span style="width:80px;display:inline-block">Statut</span>
        <span style="width:80px;display:inline-block">Date de transaction</span>
        <span style="width:50px;display:inline-block">Montant</span>
    </span>
    <span style="display:block">
        <span style="width:150px;display:inline-block">Benoit Hamel</span>
        <span style="width:80px;display:inline-block">En création</span>
        <span style="width:80px;display:inline-block">2020-04-27</span>
        <span style="width:50px;display:inline-block">20.52</span>
    </span>
    <span style="display:block">
        <span style="width:150px;display:inline-block">Nizar Ouederni</span>
        <span style="width:80px;display:inline-block">Livré</span>
        <span style="width:80px;display:inline-block">2020-04-20</span>
        <span style="width:50px;display:inline-block">25.34</span>
    </span>
</div>
