﻿@{
    ViewData["Title"] = "Accueil";
}
<div>
    <span class="item"><a href="Home/ListeArticle"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Fruits et légumes</span></a></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Viandes</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Produits laitiers</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Pains</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Céréales</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Produits ménagers</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Soins pour le corps</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Pâtisseries</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Cannages</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Gâteries</span></span>
</div>