﻿@{
    ViewData["Title"] = "Fruits et légumes";
}
<div>
    <span class="item"><a href="~/Home/Article"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Résin rouge sans pépin</span></a></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Tomate cerise</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Tomate italienne</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Laitue</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Banane</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Radis</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Oranges</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Clémentine</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Pomme McIntosh</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Oignon</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Échalotte</span></span>
    <span class="item"><span style="background-color:lightgray;height:300px;width:300px;display:block"></span><span class="centrebas">Céleri</span></span>
</div>