﻿@{
    ViewData["Title"] = "Panier";
}

<h2>Nom du client</h2>
<table style="width:100%" class="avecEntete">
    <thead >
        <tr>
            <td style="width:64px;height:64px">Image</td>
            <td>Description</td>
            <td>Note</td>
            <td style="width:20px">Qte</td>
            <td style="width:40px">Panier</td>
            <td style="width:40px">Poid</td>
            <td style="width:45px">$</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="background-color:lightgray;width:64px;height:64px"></td>
            <td>Tomates</td>
            <td><input type="text" class="saisie" value="Fermes" /></td>
            <td class="nombre" style="margin-right:1px">3</td>
            <td><input type="number" class="saisie nombre" /></td>
            <td class="nombre">0.300</td>
            <td class="nombre">2.99</td>
        </tr>
        <tr>
            <td style="background-color:lightgray;width:64px;height:64px"></td>
            <td>Bananes</td>
            <td><input type="text" class="saisie" value="peu de tache brune" /></td>
            <td class="nombre" style="margin-right:1px">3</td>
            <td><input type="number" class="saisie nombre" /></td>
            <td class="nombre">0.300</td>
            <td class="nombre">2.99</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td><input type="text" class="saisie" value="Bien faire attention pour ne pas écraser le pain" /></td>
            <td class="nombre">128</td>
            <td class="nombre">128</td>
            <td class="nombre">300</td>
            <td class="nombre">299.00</td>
        </tr>
    </tbody>
</table>
<div class="droite"><button>Commander</button></div>